table{
	width: 100%;
	border: 6px;
}

td,tr{
	border-style: solid;
	border-width:2px;
	border-color: blue;
	text-align: center;
}

.Students{
	height: 40px;
	background-color: grey;
	color:white;
	text-align: center;
	font-size: 20px;
}

.mark{
	height: 20px;
	background-color: grey;
	color:white;
	text-align: center;
	font-size: 20px;
}
